*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: rgb(22, 22, 50);
    line-height: 20px;
    padding: 20px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    text-align: center;
    padding: 2em 0;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(80, 80, 34);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
p{
    color: #666;

}
.about{
    display: flex;
    flex-direction: row;
    gap: 2 rem;
    margin: 2rem 0;
    
}
.about img{
    border-radius: 50%;
    width: 150px;
    height: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0) ;
    margin-left: 10px;
}
.about-content{
    flex: 1;
    margin-left: 10px;
}
.about h2{
    font-size: 2rem;
    color: rgb(67, 20, 20);
    margin-bottom: 10px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
}
.skill-items{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
}
.skill-items:hover{
    transform: scale(1.05);
}
/* Project Section */
.projecst{
    margin-top: 2rem;
}

.project-item{
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-item:hover{
    transform: scale(1.02);
}

.project-item h3{
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;

}

/* Footer Section */
footer{
    text-align: center;
    
    margin-top: 2rem;
    color: #666;
}

.btn{
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 7px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #555;

}
